<!DOCTYPE html>
<html lang="en" ng-app="AngularBlogger">

<head>
  <meta charset="UTF-8">
  <title>Angular Blogger</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="javascripts/angularBlogger.js"></script>
  <script src="javascripts/blogController.js"></script>
  <script src="javascripts/postFactory.js"></script>
  <script src="javascripts/postsController.js"></script>
  <script src="javascripts/newPostController.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Angular Blogger</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href='#/new'>New Post</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
  </div>

  <div class="container-fluid">

    <ui-view></ui-view>
    </a>
    <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h3 class="text-center">Posts on Angular Blogger</h3>
    </div>
      <div class="row" ng-repeat="post in blogCtrl.posts">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-center">
          <h3 class="publishedTitle"><a href="#/posts/{{$index}}">Title: {{post.title}}</a></h3>
          <p class="publishedAuthor">Author: {{post.username}}</p>
          <p class="publishedDescription">Description: {{post.description}}</p>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </script>

    <script type="text/ng-template" id="/new.html">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="page-header">
            <h3 class="text-center">Create a New Post</h3>
          </div>
          <div class="form-group">
            <h4 class="bg-danger text-center" ng-show="newPostCtrl.warning">{{newPostCtrl.warning}}</h4>
            <form ng-submit="newPostCtrl.addPost()" role="form">
              <label for="title">Title:</label>
              <input type="text" ng-model="newPostCtrl.title" class="form-control"></input>
              <label for="description">Description:</label>
              <input type="text" ng-model="newPostCtrl.description" class="form-control"></input>
              <label for="contents">Contents: </label>
              <textarea type="text" rows="15" ng-model="newPostCtrl.content" class="form-control"></textarea>
              <button type="submit" class="form-control">Post</button>
            </form>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </script>
    <script type="text/ng-template" id="/posts.html">
      <div class="row">
        <div class="page-header">
          <h3 class="text-center">{{postsCtrl.post.title}}</h3>
          <p class="text-center">Author: {{postsCtrl.post.username}}</p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p>{{postsCtrl.post.content}}</p>
        </div>
        <div class="col-md-3"></div>
      </div>
    </script>
  </div>

</body>

</html>
